{% extends 'website/base.html' %}

{% block title %}
    Register
{% endblock title %}

{% block body %}
<div class='container'>
    <div class='row'>
        <div class="jumbotron register">
            <div class="col-md-1"></div>
            <div class="col-md-6">
                <h1>Register an account!</h1>
                <form class="form-inline" method="POST" action="">
                    {% csrf_token %}
                    <div class="col-md-6 form-group">
                        {% load crispy_forms_tags %}
                        {% for field in form %}
                        <div class="row">
                            <div class="col-sm-4">
                                <label for="formGroupExampleInput">{{ field.label }}</label>
                            </div>
                            <div class="col-sm-4"></div>
                            <div class="col-sm-4">
                                {{ field }}
                            </div>
                        </div>
                            <br />
                        {% endfor %}
                        <button class="btn btn-primary" type="submit">Register</button>
                    </div>
                </form>
            </div>
            <div class="col-md-4">
                {% if form.errors %}
                    {% for field in form %}
                        {% for error in field.errors %}
                            <div class="alert alert-danger">
                                <strong>{{ error|escape }}</strong>
                            </div>
                        {% endfor %}
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock body %}
